  .abieteh  { 
			color: blue ; 
			 }
  .ghermezeteh  {  
			color: red ; 
	  }

p.eng{
       direction:ltr;
       text-align: left;
		font-size:26px;
		}

p.far{
     direction:rtl;
     text-align: right;
	 font-size:30px;
 }