  .abieteh  { 
		direction:rtl;
		color: blue ; 
		background: yellow;
	 }
	 
  .ghermezeteh  {  
		direction:rtl;
		color: red ; 
		background: yellow;
		  
		   }
  .newfont{
         font-family  : koodak;
		 font-size  : 32px;
		 
  }
  