  .abieteh  { 
		direction:rtl;
		color: black ; 
		 }
  .ghermezeteh  {  
		direction:rtl;
		color: white ; 
		  }

    body{
	background-image: url("footbal.jpg");
	background-repeat: no-repeat ;
	}